.pit-auth {
    position: relative;
    background: #050505;
    padding: 72px 25px 110px;
    flex-grow: 1;

    &__wrapper {
        width: 100%;
        max-width: 432px;
        margin: 0 auto;

        @media (max-width: (650px)) {
            max-width: 100%;
        }
    }

    &__title {
        font: 700 30px/38px "Merriweather Sans";
        color: #fed9c0;
        margin-bottom: 16px;

        @media (max-width: (650px)) {
            font: 700 21px/30px "Merriweather Sans";
            margin-bottom: 8px;
        }
    }

    &__text-container {
            position: relative;
            padding-bottom: 24px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        &--account {
            margin-bottom: 32px;
        }

        &--contact {
            margin-bottom: 16px;
        }
    }

    &__subscribe {
        margin-bottom: 24px;

        @media (max-width: (650px)) {
            margin-bottom: 20px;
        }
    }

    &__text {
        color: #e6e6e6;
        font-family: "Merriweather Sans";
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        line-height: 1.8;

        &--contact {
            font-weight: 400;
            font-family: "Source Sans Pro";

            @media (max-width: (650px)) {
                font-family: "Merriweather Sans";
            }
        }

        &--account {
            font-family: "Source Sans Pro";
        }

        @media (max-width: (650px)) {
            font-size: 16px;
            line-height: 23px;
        }
    }

    &__prompt-container {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;

        &--info {
            padding-bottom: 0;
        }
    }

    &__input {
        padding-left: 10px;
        padding-right: 40px;
        background: #050505;
        max-width: 432px;

        &-container {
            position: relative;
            margin-bottom: 24px;

            @media (max-width: (650px)) {
                margin-bottom: 20px;
            }
        }

        &:focus::placeholder {
            transform: translateY(-10px);
            font: 400 15px/19px "Source Sans Pro";
        }

        @media (max-width: (650px)) {
            max-width: 100%;
        }
    }

    &__btn {
        text-align: center;
        width: 100%;
        font: 700 19px/22px "Merriweather Sans";
        letter-spacing: 0.38px;
        color: #ffffff;
        padding: 14px 0;
        background: #fa6605;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 30px;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #000000;
            }
        }

        @media (max-width: (650px)) {
            font: 700 16px/22px "Merriweather Sans";
            margin-bottom: 30px;
        }
        &-plain {
            font: 600 19px/22px "Merriweather Sans";
            letter-spacing: 0.19px;
            width: 100%;
            color: #fed9c0;
            border: 1px solid #fed9c0;
            border-radius: 6px;
            padding: 14px 40px;
            background: #131313;
            text-align: center;
            margin-bottom: 12px;
            cursor: pointer;
            transition: color 0.3s ease, border 0.3s ease;

            @media (any-hover: hover) {
                &:hover {
                    color: #fa6605;
                    border: 1px solid #fa6605;
                }
            }

            @media (max-width: (650px)) {
                margin-bottom: 8px;
                font: 600 16px/22px "Merriweather Sans";
            }
        }
    }

    &__link {
        font: 600 19px/22px "Merriweather Sans";
        letter-spacing: 0.38px;
        color: #fed9c0;
        text-decoration: none;
        text-align: center;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #fa6605;
            }
        }

        @media (max-width: (650px)) {
            font: 600 16px/22px "Merriweather Sans";
        }
    }
    &__icon,
  & svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
  & svg {
    color: #fff7f2;
    right: 14px;
  }
}
